<!DOCTYPE html>
<html lang="en">
<head>
    <title>MyLife</title>
</head>
<body>
    <h1>
        <centre>Welcome To My Life</centre>
    </h1>

    <a href="#">About me</a><br>
    <a href="#">My Pictures</a><br>
    <a href="#">Contact Me</a><br>

    <pre>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Nostrum officia laboriosam, excepturi voluptas doloribus iusto a dignissimos ipsum est? 
        Autem quo consequuntur, sint natus labore dolorem quos maiores repellendus assumenda!
    </pre>
</body>
</html>